{%extends 'base.html'%}
{%load static%}
{%block main%}

    <!-- Page Title -->
    <section class="page-title centred" style="background-image: url(static/images/background/whitespace1.jpg);">
        <div class="auto-container">
            <div class="content-box">
                <div class="title">
                    <h1>About</h1>
                </div>
                <ul class="bread-crumb clearfix">
                    <li><a href="/">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End Page Title -->


    <!-- about-style-two -->
    <section class="about-style-two">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image_block_2">
                        <div class="image-box">
                            <figure class="image"><img src="static/images/about2.jpg" alt=""></figure>
                            <div class="image-content">
                                <div class="icon-box"><i class="flaticon-screwdriver"></i></div>
                                <h4><span>14</span>Years Of Experience</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content_block_2">
                        <div class="content-box">
                            <div class="sec-title">
                                <span class="top-text">About Fuzze</span>
                                <h2>Know About White Space Studio <span>Company Histories</span></h2>
                            </div>
                            <div>
                                <p>Established in 2010, White Space Studio has emerged as a pioneering force in the realm of interior design and solutions. Founded by [Founder's Name], our journey began with a simple yet profound vision: to redefine the concept of space through innovation, creativity, and meticulous attention to detail.</p>
                            </div>
                            <div class="text mt-5">
                                <div class="icon-box"><i class="flaticon-lifter"></i></div>
                                <h4>Expansion and Growth</h4>
                                <p>As our reputation grew, so too did our portfolio of projects. From residential homes to commercial spaces and hospitality venues, White Space Studio's signature style became synonymous with elegance, sophistication, and functionality.</p>
                            </div>
                            <div class="btn-box"><a href="about.html" class="theme-btn style-one">Learn More<i class="far fa-angle-double-right"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-two end -->


    <!-- feature-style-two -->
    <section class="feature-style-two centred bg-color-1">
        <div class="pattern-layer" style="background-image: url(static/images/shape/shape-3.png);"></div>
        <div class="auto-container">
            <div class="sec-title centred">
                <span class="top-text">what we offer</span>
                <h2>Features For Dream <br><span>Interior Design</span></h2>
            </div>
            <div class="inner-content">
                <div class="row clearfix">

                    <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-one wow fadeInUp animated animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="icon-box"><i class="flaticon-screwdriver"></i></div>
                                <h3>Professional Consultation</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-one wow fadeInUp animated animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="icon-box"><i class="flaticon-quotation"></i></div>
                                <h3>Online Customer Support Us</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="icon-box"><i class="flaticon-maintenance"></i></div>
                                <h3>Most Trusted Interior Decor Guarantee</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature-style-two end -->

<!--        &lt;!&ndash; team-section &ndash;&gt;-->
<!--        <section class="team-section about-page centred">-->
<!--            <div class="auto-container">-->
<!--                <div class="sec-title centred">-->
<!--                    <span class="top-text">Exclusive engineers</span>-->
<!--                    <h2>We Have A Experience Team <br><span>Member In Fuzze</span></h2>-->
<!--                </div>-->
<!--                <div class="row clearfix">-->
<!--                    <div class="col-lg-3 col-md-6 col-sm-12 team-block">-->
<!--                        <div class="team-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">-->
<!--                            <div class="inner-box">-->
<!--                                <figure class="image-box"><a href="index-2.html"><img src="static/images/team/team-1.jpg" alt=""></a></figure>-->
<!--                                <div class="lower-content">-->
<!--                                    <ul class="social-links clearfix">-->
<!--                                        <li><a href="index-2.html"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                        <li><a href="index-2.html"><i class="fab fa-twitter"></i></a></li>-->
<!--                                        <li><a href="index-2.html"><i class="fab fa-youtube"></i></a></li>-->
<!--                                    </ul>-->
<!--                                    <h4><a href="index-2.html">David ML.Warner</a></h4>-->
<!--                                    <span class="designation">Web Designer</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-6 col-sm-12 team-block">-->
<!--                        <div class="team-block-one wow fadeInUp animated animated" data-wow-delay="200ms" data-wow-duration="1500ms">-->
<!--                            <div class="inner-box">-->
<!--                                <figure class="image-box"><a href="index-2.html"><img src="static/images/team/team-2.jpg" alt=""></a></figure>-->
<!--                                <div class="lower-content">-->
<!--                                    <ul class="social-links clearfix">-->
<!--                                        <li><a href="index-2.html"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                        <li><a href="index-2.html"><i class="fab fa-twitter"></i></a></li>-->
<!--                                        <li><a href="index-2.html"><i class="fab fa-youtube"></i></a></li>-->
<!--                                    </ul>-->
<!--                                    <h4><a href="index-2.html">Somalia D Silva</a></h4>-->
<!--                                    <span class="designation">Web Designer</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-6 col-sm-12 team-block">-->
<!--                        <div class="team-block-one wow fadeInUp animated animated" data-wow-delay="400ms" data-wow-duration="1500ms">-->
<!--                            <div class="inner-box">-->
<!--                                <figure class="image-box"><a href="index-2.html"><img src="static/images/team/team-3.jpg" alt=""></a></figure>-->
<!--                                <div class="lower-content">-->
<!--                                    <ul class="social-links clearfix">-->
<!--                                        <li><a href="index-2.html"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                        <li><a href="index-2.html"><i class="fab fa-twitter"></i></a></li>-->
<!--                                        <li><a href="index-2.html"><i class="fab fa-youtube"></i></a></li>-->
<!--                                    </ul>-->
<!--                                    <h4><a href="index-2.html">Michel S Jhonson</a></h4>-->
<!--                                    <span class="designation">Web Designer</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-6 col-sm-12 team-block">-->
<!--                        <div class="team-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">-->
<!--                            <div class="inner-box">-->
<!--                                <figure class="image-box"><a href="index-2.html"><img src="static/images/team/team-4.jpg" alt=""></a></figure>-->
<!--                                <div class="lower-content">-->
<!--                                    <ul class="social-links clearfix">-->
<!--                                        <li><a href="index-2.html"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                        <li><a href="index-2.html"><i class="fab fa-twitter"></i></a></li>-->
<!--                                        <li><a href="index-2.html"><i class="fab fa-youtube"></i></a></li>-->
<!--                                    </ul>-->
<!--                                    <h4><a href="index-2.html">Mathe Wade Villaz</a></h4>-->
<!--                                    <span class="designation">Web Designer</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--        &lt;!&ndash; team-section end &ndash;&gt;-->


{%endblock%}